/*Fonts*/
@font-face {
  font-family: corbel;
  src: url(https://codehs.com/uploads/058a33cf509ecfcf0118c9fe7274fac8);
}

@font-face {
  font-family: corbelLight;
  src: url(https://codehs.com/uploads/c001a67a4199d851a86c483e0a414f07);
}

@font-face {
  font-family: corbelBold;
  src: url(https://codehs.com/uploads/bfe59de226b557c6c6189815867c8e5b);
}

/*Animation stuff*/
@keyframes slideIn {
    from {opacity: 0; transform: translateX(-4%);}
    to {opacity: 1; transform: translateX(0%);}
}

.contentSlide {
    animation: slideIn .5s ease-in-out;
    animation-fill-mode: forwards;
}

/*General Tags*/
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    
    background-color: black;
    color: rgb(204, 204, 204);
    font-family: corbel;
    font-size: 20px;
}

p {
    width: 50%;
}

.bold {
    font-family: corbelBold;
}

.thin {
    font-family: corbelLight;
}

.imageSubText {
    font-size: 25px;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}


/*scrollbar settings*/
::-webkit-scrollbar {
    width: .8em;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(75,75,75);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(100,100,100)
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(125,125,125)
}

/*Navigational Bar Indicator*/
.navBarIndicator {
    z-index: 1;
    position: fixed;
    top: 5%;
    right: 5%;
    width: 200px;
    height: 50px;
    transform: translateX(-400px);
    
    background-color: rgb(0, 140, 207);
    transition: transform .5s ease-in-out;
}

/*Navigational Bar*/
.navBar {
    z-index: 2;
    position: fixed;
    top: 5%;
    right: 5%;
}

.navBar ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: right;
    
    list-style-type: none;
}

.navBar li {
    display: flex;
    float: left;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    
    color: grey;
    background-color: rgba(80,80,80, .85);
    font-size: 27px;
    font-family: corbelLight;
    text-decoration: none;
}

.navBar li:hover {
    cursor: pointer;
}

/*Holds all Pages*/
.pageContainer {
    transition: opacity .4s ease-in-out;
    
    display: flex;
    width: 300vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/*Settings for all Pages*/
.page {
    z-index: -2;
    
    width: 100vw;
    height: 100vh;
    
    margin: 0;
    padding: 0;
}

/*Settings for all Page content*/
.pageContent {
    margin: 4%;
    padding: 0;
}

/*Settings for each Page*/
.homePage {
    background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0)),
    url("https://codehs.com/uploads/3e1cd66735dc378af150b6a1d92e3638");
    
    background-repeat: no-repeat;
    background-size: cover;
    
}
.aboutPage {
    background: linear-gradient(to right, rgba(0,0,0), rgba(0,0,0,0.5)),
    url("https://codehs.com/uploads/3e1cd66735dc378af150b6a1d92e3638");
    
    background-repeat: no-repeat;
    background-size: cover;
}
.contactPage {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://codehs.com/uploads/3e1cd66735dc378af150b6a1d92e3638");
    
    background-repeat: no-repeat;
    background-size: cover;
}

/*Portfolio Sub Page Settings*/
.portfolioSubPage {
    position: absolute;
    top: 100vh;
    left: 0;
    
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url("https://codehs.com/uploads/81d93a70e102b68e62696c6d35351abd");
    
    background-repeat: no-repeat;
    background-size: cover;
}

/*Home Content*/
#personalLogo {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 28vw;
    
    height: 100vh;
    filter: brightness(50%);
}

#name {
    margin-top: 0;
    
    line-height: 145px;
    color: rgb(100,119,137);
    font-size: 130px;
    font-family: corbelLight;
    font-weight: normal;
}

#nameTitle {
    margin-top: -80px;
    margin-bottom: 35px;
    
    font-size: 30px;
    font-family: corbelLight;
    font-style: italic;
    
}

#nameSeparator {
    margin-left: 0;
    
    border: 1px rgb(100, 119, 137) solid;
    width: 400px;
}

/*Portfolio Subpage Content*/
#portfolioParagraphHeader {
    margin-top: 0;
    
    text-align: center;
    font-size: 45px;
    font-family: corbelLight;
    font-weight: normal;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
}

#portfolioParagraph {
    width: 100%;
    text-align: center;
}

.portfolios {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 6.5%;
    margin-left: -4%;
    
    width: 100vw;
    height: 420px;
  
    background-color: rgba(80,80,80, .2);
}

.portfolios a {
    transition: all 1s ease-in-out;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-inline: 50px;
    width: 500px;
    height: 100%;
    
    text-align: center;
    font-size: 40px;
    color: transparent;
    text-decoration: none;
    
    background-size: cover;
    background-position: center;
}

.portfolios a:hover {
    cursor: pointer;
    
    width: 600px;
    height: 110%;
    
    border-radius: 10px;
    color: rgb(204,204,204);
    box-shadow: 7px 7px 15px rgb(100,100,100);
    
    background-size: cover;
    background-position: center;
}

#port1 {
    background-position: left;
    background-image: url("https://codehs.com/uploads/ba3818e34924fcf57a1cb92a43d1c951");
}
#port1:hover {
    background-image: url("https://codehs.com/uploads/dff21914f6d0dbeedc45acba3f71fbad");
}

#port2 {
    background-image: url("https://codehs.com/uploads/ce62e16931c6a6a15a7ad76f84c35fe5");
}
#port2:hover {
    background-image: url("https://codehs.com/uploads/13406547f615b8ec8b019f6692b1941c");
}

#port3 {
    background-image: url("https://codehs.com/uploads/ce62e16931c6a6a15a7ad76f84c35fe5");
}
#port3:hover {
    background-image: url("https://codehs.com/uploads/13406547f615b8ec8b019f6692b1941c");
}

/*About Content*/
#personalPortrait {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 21%;
    object-fit: cover;
    
    filter: brightness(50%);
    width: 100vw;
    height: 100vh;
}

#aboutTitle {
    margin-top: 0;
    
    line-height: 145px;
    color: rgb(100,119,137);
    font-size: 130px;
    font-family: corbelLight;
    font-weight: normal;
}

#aboutTitleSeparator {
    margin-top: -70px;
    margin-left: 0;
    
    border: 1px rgb(100, 119, 137) solid;
    width: 320px;
}

/*Contact Content*/
#contactTitle {
    margin-top: 0;
    
    line-height: 145px;
    color: rgb(100,119,137);
    font-size: 130px;
    font-family: corbelLight;
    font-weight: normal;
}

#contactTitleSeparator {
    margin-top: -70px;
    margin-left: 0;
    
    border: 1px rgb(100, 119, 137) solid;
    width: 420px;
}

#contactParagraph {
    font-family: "corbelLight";
    font-size: 40px;
}
